.navigation {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px dashed lightgray;
  width: 100%;
}
.navigation .navbar {
  margin-right: 10%;
  margin-top: 15px;
}
.navigation h1 {
  margin-left: 10%;
  font-family: 'Indie Flower', cursive;
  font-size: 40px;
}
.navigation a {
  margin: 20px;
  text-decoration: none;
  color: black;
  font-family: 30px;
}
.navigation a:hover {
  font-weight: bold;
}
.bus-img {
  display: flex;
  justify-content: center;
}
.bus-img img {
  width: 80%;
}
